[submodule "Sumbodules/Common_Plugins"]
	path = Sumbodules/Common_Plugins
	url = ../Common_Plugins.git
[submodule "Common"]
	path = Common
	url = ../Common.git
[submodule "Assets/Submodules/Common_Plugins"]
	path = Assets/Submodules/Common_Plugins
	url = ../Common_Plugins.git
[submodule "Assets/Submodules/Common"]
	path = Assets/Submodules/Common
	url = ../Common.git
